<!DOCTYPE html>
<html>
<head>
  <title><%= siteName %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="javascript:"><%= siteName %></a>
        </div>
      </div>
    </div>
    <div class="container">
        <h1>Routes</h1>
        <%if (typeof routes != 'undefined') { %>
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th>#</th>
                      <th>Path</th>
                      <th>Method</th>
                    </tr>
                </thead>
                <tbody>
                <% i = 1 %>
                <% (routes).forEach(function(rt){ %>
                    <%if (typeof rt != 'undefined') { %>
                        <tr>
                            <td><%= i++ %></td>
                            <td><%= rt.path %></td>
                            <td><%= rt.method %></td>
                        </tr>
                     <% } %>
                <% });%>
                </tbody>
            </table>
        <% } %>
        <p>Add a post:</p>
<pre class="snippet">curl -i -X POST -H "Content-Type: application/json" -d "{\"post\": {\"title\": \"Hell Is Other Robots\", \"excerpt\": \"Alice may have called in on the meeting at Malkin Tower...\", \"content\": \"Alice may have called in on the meeting at Malkin Tower on her way to a secret (and illegal) Good Friday Catholic service, and refused to speak for fear of incriminating her fellow Catholics.\",\"active\": true}}" http://localhost:3000/api/post</pre>
        <p>See all posts:</p>
<pre class="snippet">curl http://localhost:3000/api/posts</pre>
    </div>
  <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
